{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="auth-wrapper">
    <h1>Docfy</h1>
    <form method="POST" action="/authenticate">
      <input name="email" type="email" placeholder="Digite seu e-mail" required="required" autofocus="autofocus">
      <input name="password" type="password" placeholder="Digite sua senha" required="required">
      <button type="submit">Entrar</button>
      <a href="/signup">Criar minha conta</a>
    </form>
  </div>
{% endblock %}
