{% extends "layouts/default.njk" %}

{% block body %}

<div class="wrapper">
  {% include 'partials/header.njk' %}

  <section id="main">
    <div class="container">
      <header>
        <h2>{{ project.title }}</h2>
        <div class="addon">
          <form action="/app/projects/delete/{{ project.id }}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Excluir projeto</button>
          </form>
        </div>
      </header>

      <section id="content">
        <nav>
          <div class="sessions">
            {% for section in sections %}
              <a class="{% if currentSection and currentSection.id == section.id %}active{% endif %}" href="/app/projects/{{ project.id }}/section/{{ section.id }}">
                {{ section.title }}
              </a>
            {% endfor %}
          </div>
          <a href="/app/sections/new/{{ project.id }}" class="btn add-section">Nova seção</a>
        </nav>

        <article>
          <div class="project-header">
            {% if currentSection %}
              <h1>{{ currentSection.title }}</h1>
              <form action="/app/sections/delete/{{ currentSection.id }}?_method=DELETE" method="POST">
                <input type="hidden" name="ProjectId" value="{{ project.id }}">
                <button type="submit" class="btn-link">Remover seção</button>
              </form>
            {% else %}
              <p>Nenhuma seção cadastrada</p>
            {% endif %}
          </div>
          {{ currentSection.formattedContent | safe }}
        </article>
      </section>
    </div>
  </section>

</div>

{% endblock %}
